/* _forms.scss:284 */

.form-group {
    margin-bottom: form-group-margin-bottom;
}


/* _forms.scss:284 */

.form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}