{% extends 'front.html.twig' %}

{% block title %}Login{% endblock %}

{% block home %}
{% endblock %}

{% block aboutUs %}
{% endblock %}

{% block services %}
{% endblock %}

{% block portfolio %}
{% endblock %}

{% block team %}
{% endblock %}

{% block pricing %}
{% endblock %}

{% block faq %}
{% endblock %}

{% block contactus %}
<div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="section-title" data-aos="fade-up">
                            <h2>Mot de passe oublié</h2>
                        </div>
                        {{ form(emailForm) }}
                    </div>
                </div>
            </div>
</div>

{% endblock %}