{% extends 'front.html.twig' %}

{% block title %}Inscription{% endblock %}


{% block home %}
{% endblock %}

{% block aboutUs %}
{% endblock %}

{% block services %}
{% endblock %}

{% block portfolio %}
{% endblock %}

{% block team %}
{% endblock %}

{% block pricing %}
{% endblock %}

{% block faq %}
{% endblock %}

{% block contactus %}
<section id="contact" class="contact">
      <div class="container">
<div class="section-title" data-aos="fade-up">
          <h2>Inscription</h2>
        </div>
        <center>
        <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">

            {{ include('utilisateur/_form.html.twig') }}

        </div>
    </center>
    </div>
    </section>
{% endblock %}

