{% extends 'front(soulayma).html.twig' %}

{% block title %}New Paiement{% endblock %}

{% block body %}
    <h1>MODE DE PAIEMENT</h1>




    {{ include('paiement/_form.html.twig') }}

    <form action="/checkout" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">Passer la commande</button>
    </form>



    <div>
        <form action="{{ path('ajouterlivraison') }}">
            <input type="submit" value="Retour" class="btn btn-primary rounded-pill m-2">
        </form>
    </div>


{% endblock %}
