{% extends 'base.html.twig' %}

{% block title %}New Produitcommande{% endblock %}

{% block body %}
    <h1>Create new Produitcommande</h1>

    {{ include('produitcommande/_form.html.twig') }}

    <a href="{{ path('app_produitcommande_index') }}">back to list</a>
{% endblock %}
