{% extends 'front.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block home%}
    <h1>Blog index</h1>

    <table class="table" border="1">
        <thead>
        <tr>

            <th>Titre</th>
            <th>Sujet</th>
            <th>Contenu</th>
            <th>Date</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>

                <td>{{ blog.titre }}</td>
                <td>{{ blog.sujet }}</td>
                <td>{{ blog.contenu }}</td>
                <td>{{ blog.date }}</td>
                <td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
