{% extends 'base.html.twig' %}

{% block title %}Nouveau Blog{% endblock %}

{% block body %}
    <h1>Ajouter un Blog</h1>

    {{ include('blog/_form.html.twig') }}

    <a href="{{ path('app_blog_index') }}"><input type="submit" value="Retour" class="btn btn-primary rounded-pill m-2"></a>
{% endblock %}
