{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary rounded-pill m-2">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
