{% extends 'front(soulayma).html.twig' %}

{% block title %}Edit Commentaire{% endblock %}

{% block aboutUs %}
    <h1>Edit Commentaire</h1>

    {{ include('commentaire/_form.html.twig', {'button_label': 'Modifier'}) }}


    <a href="{{ path('AfficheFrontBlog') }}"><input type="submit" value="Retour" class="btn btn-primary rounded-pill m-2"></a>

    {{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}


{% block home %}
{% endblock %}
{% block services %}
{% endblock %}
{% block features %}
{% endblock %}
{% block testimonials %}
{% endblock %}
{% block portfolio %}
{% endblock %}
{% block team %}
{% endblock %}
{% block pricing %}
{% endblock %}
{% block faq %}{% endblock %}
{% block contactus %}
{% endblock %}