{% extends 'front.html.twig' %}


{% block body %}
{% block title %}CHECK-OUT{% endblock %}


    <h1>ADRESSE DE LIVRAISON</h1>


    {{ include('livraison/_form.html.twig') }}

    <a href="{{ path('app_livraison_index') }}">back to list</a>
    <a href="{{ path('app_paiement_new') }}">Suivant</a>

{% endblock %}
