<form method="post" action="{{ path('app_pointdevente_delete', {'reference': pointdevente.reference}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pointdevente.reference) }}">
    <button class="btn"><i class="fas fa-trash-alt"></i></button>
</form>
