{{ form_start(form,{ 'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form, { 'attr': {'class': 'col-sm-2 col-form-label'}  }) }}
    <button class="btn"><i class="fas fa-edit"></i></button>
{{ form_end(form) }}
