{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(f,{'attr': {'novalidate': 'novalidate'}} ) }}
    <div class="bg-light rounded h-100 p-1">
        <div class="mb-3">
        <label>Nom</label>
        {{ form_widget(f.nom,{'attr':{'class':'form-control'}}) }}
    {{ form_errors(f.nom,{'attr':{'class':'text-danger'}}) }}



{{ form_end(f) }}
{% endblock %}